@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;1,700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:Noticia Text;
}

body{
	background-image: url("../image/salonimage.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	background-attachment:fixed;
}